<%- include('partials/header')  %> 
    <div class="container">
        <div class="sidebar">
            <h3><i class="fa-solid fa-gauge"></i>Dashboard</h3>
            <div class="links">
                <ul>
                    <li><a href="#"><i class="fa-solid fa-house"></i>Dashboard</a></li>
                    <li><a href="#"><i class="fa-solid fa-users"></i>Tenants</a></li>
                    <li><a href="#"><i class="fa-solid fa-money-bill"></i>Amount</a></li>
                    <li><a href="#"><i class="fa-solid fa-building"></i>Houses</a></li>
                </ul>
            </div>
           
        </div>
        <div class="dashboard">
            <div class="form">
                <!-- <form action="/" method="POST">
                    <input type="text" name="landlord" placeholder="landlord">
                    <input type="number" name="amount" placeholder="amount">
                    <input type="text" name="SIMtype" placeholder="SIMtype" >
                    <input type="text" name="location" placeholder="location">
                    <input type="number" name="phonenumber" placeholder="phonenumber">
                    <button>submit</button>
                </form> -->
            </div>
        </div>
    </div>


    

    
<%- include('partials/footer')  %> 
